body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  background-color: #4caf50;
  color: white;
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline; 
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-section {
  flex: 1; 
  margin: 0 10px; 
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
  height: 30px; 
  line-height: 30px; 
}




ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto; 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

ul li {
  padding: 10px;
  margin: 5px 0;
  background-color: #e9ffe9;
  border-radius: 4px;
  text-align: center;
}

div input[type="text"] {
  width: calc(100% - 60px); 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

div button {
  width: 50px; 
  height: 50px; 
  margin-left: 10px; 
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

div button:hover {
  background-color: #45a049;
}

div.task-input-container {
  display: flex;
  margin-top: 15px; 
  align-items: center; 
}
